{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    {{ if .Params.cover }}
    <img src="{{ .Params.cover }}" style="width: 20rem;" alt="" class="right" />
    {{ end }}
    {{ .Content }}
  </article>
  {{ partial "related" . }}
{{ end }}
