{{ define "main" }}
  <article>
    {{ .Content }}
  </article>
  {{ range .Pages }}
    <article style="clear: both" data-hcms-source="content/{{.File.Path}}">
      <h2><a href="{{ .RelPermalink }}" data-hcms-param="title">{{ .Title }}</a></h2>
      {{ if .Params.cover }}
        <img src="{{ ((resources.Get (.Params.cover)).Resize "400x").RelPermalink }}" style="width: 20rem;" class="right" alt="" />
      {{ end }}
      <div data-hcms-content="1">{{ .Content }}</div>
    </article>
    <hr style="clear: both"/>
  {{ end }}
{{ end }}

