<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {{ if .Params.redirect }}
    {{ with .Site.GetPage (.Params.redirect) }}
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="0; url={{ .RelPermalink }}"/>
    {{ end }}
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <!-- include first because it contains a CSS reset -->
    <script>
      window.hcms_gitlab_config = {
        clientId: '2e5ddc2f3fb4550d5d9aa510dd032e44b45e6a385a7b040632ef1be6e1286c43',
        repository: 'mildred593/melanie-de-la-salette.fr',
      }
    </script>
    <script type="module" src="/hcms/hcms.js"></script>
    <link rel="stylesheet" href="/hcms/style.css" />

    {{ with resources.Get "fonts.css" | resources.ExecuteAsTemplate "fonts.css" . }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }}
    {{ with resources.Get "style.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }}
  </head>
  <body>
    <header>
      <a href="/">
        <div class="title banner">
          <h1>Mélanie Calvat,</h1>
          <h2>bergère de la Salette</h2>
          <p class="home-link" style="display: none">retour à l'accueil</p>
        </div>
      </a>
      <div class="title">
        <a href="/" class="author">Site de l’association des Amis de Mélanie Calvat</a>
      </div>
      <nav>
        {{ $current := . }}
        {{ $data := newScratch }}
        <ul class="main">
            <li><a href="/">Accueil</a></li>
          {{ with .Site.GetPage "/" }}
            {{ range .Site.Pages }}
              {{ if index .Params "menu" | default false }}
              <li class="
                {{if .IsAncestor $current}}
                  {{ $data.Set "currentmenu" .}}
                  current
                {{else if and ($current.File) (eq $current.File.UniqueID .File.UniqueID)}}
                  {{ $data.Set "currentmenu" .}}
                  current active
                {{end}}
                ">
                  {{ if .Params.redirect }}
                    <a href="{{ with .Site.GetPage (.Params.redirect) }}{{ .RelPermalink }}{{ end }}">{{ default .Title .Params.menutitle }}</a>
                  {{ else }}
                    <a href="{{ .RelPermalink }}">{{ default .Title .Params.menutitle }}</a>
                  {{ end }}
                </li>
              {{ end }}
            {{ end }}
            <!--<li><a href="https://les-amis-de-melanie-calvat.fr">L'association</a></li>-->
            <li>
              <a href="https://www.youtube.com/@melanie-de-la-salette" target="_blank">
                <img src="/images/YouTube_gray.svg" height="16" alt="YouTube" />
              </a>
            </li>
          {{ end }}
        </ul>
        {{ with $data.Get "currentmenu" }}
          {{ if and .Pages (default true .Params.showsubmenu) }}
            <ul class="child">
              {{ range union (slice .) .Pages }}
                {{ if (default true .Params.showinsubmenu) }}
                <li class="
                  {{if eq $current.File.UniqueID .File.UniqueID }}
                    {{ $data.Set "currentmenu" .}}
                    active
                  {{end}}
                  ">
                  <a href="{{ .RelPermalink }}">{{ default .Title .Params.menutitle }}</a>
                </li>
                {{ end }}
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}
      </nav>
    </header>
    {{ if .IsHome }}
      <nav class="i18n">
        <ul>
          {{ range $.Site.Home.AllTranslations }}
            <li>
              <a href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}">
                {{ $langcode := .Lang }}
                {{ $langname := .Language.LanguageName }}
                {{ with resources.Get (printf "flags/%s.svg" .Lang) }}
                  <img alt="{{ $langname }}" src="{{ .RelPermalink }}" />
                {{ end }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    {{ else if .IsTranslated }}
      <nav class="i18n">
        <ul>
          {{ range .Translations }}
            <li>
              <a href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}">
                {{ $langcode := .Lang }}
                {{ $langname := .Language.LanguageName }}
                {{ with resources.Get (printf "flags/%s.svg" .Lang) }}
                  <img alt="{{ $langname }}" src="{{ .RelPermalink }}" />
                {{ end }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    {{ end }}
    <main>
      <div>
        {{- block "main" . }}{{ end }}
      </div>
    </main>
    <footer>
      <p>Copyright © {{ now.Year }} Mélanie Calvat et ses amis, diffusion libre dans le
      respect de Mélanie. <a href="https://www.galerie-frp.fr/">Remerciments à
      Florian</a> pour les graphismes.</p>
      <nav>
        <a href="{{ (.Site.GetPage "/").RelPermalink }}admin/">administration</a>
        <a href="{{ (.Site.GetPage "/contact").RelPermalink }}">contact</a>
        <a href="javascript:hcms_toggle()">✎</a>
      </nav>
    </footer>
  </body>
</html>
