{{ define "main" }}
  {{ partial "article" . }}
  {{ with .Site.GetPage "/highlights" }}
    {{ range where .Pages ".Params.home" "!=" false }}
    <article>
      <h2>{{ .Title }}</h2>
      {{ .Content }}
    </article>
    {{ end }}
  {{ end }}
  {{ partial "related" . }}
{{ end }}

