{{ define "main" }}
  {{ partial "article" . }}
  {{ if default true .Params.showindexlist }}
    {{ range .Pages }}
      <article data-hcms-source="content/{{.File.Path}}">
        <a href="{{.RelPermalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
      </article>
    {{ end }}
  {{ end }}
  {{ partial "related" . }}
{{ end }}
