{{ define "main" }}
  {{ partial "article" . }}
  {{ range .Pages }}
    <article data-hcms-source="content/{{.File.Path}}">
      <h2><a href="{{ .RelPermalink }}" data-hcms-param="title">{{ .Title }}</a></h2>
      {{ if .Truncated }}
      {{ .Summary }}
      {{ else }}
      <div data-hcms-content="1">{{ .Content }}</div>
      {{ end }}
      {{ if or .Truncated .IsNode }}
      <div>
        <a href="{{ .RelPermalink }}">Lire plus...</a>
      </div>
      {{ end }}
    </article>
  {{ end }}
  {{ partial "related" . }}
{{ end }}
