<script>
// vim: ft=html

import Eye from "svelte-material-icons/Eye.svelte";
import EyeOff from "svelte-material-icons/EyeOff.svelte";
import LeadPencil from "svelte-material-icons/LeadPencil.svelte";
import Close from "svelte-material-icons/Close.svelte";
import Plus from "svelte-material-icons/Plus.svelte";
import FileTree from "svelte-material-icons/FileTree.svelte";
import FileDocumentMultiple from "svelte-material-icons/FileDocumentMultiple.svelte";
import FileDocumentMultipleOutline from "svelte-material-icons/FileDocumentMultipleOutline.svelte";
import { options, ui, get } from '../stores.js';

function toggleOpt(name) {
  options.update(opts => {
    opts[name] = ! opts[name]
    return opts;
  })
}

const closeAll = {
  editorOpened: false,
  changesOpened: false,
  fileTreeOpened: false,
  addPanelOpened: false,
}

function toggleUi(name, other) {
  ui.update(ui => ({
    ...ui,
    ...(other || {}),
    [name]: ! ui[name]
  }))
}

function closeOrDisable() {
  // Check if any panel is opened, then close them all and return
  const $ui = get(ui)
  for(const key of Object.keys(closeAll)) {
    if ($ui[key]) {
      return ui.update(ui => ({
        ...ui,
        ...closeAll
      }))
    }
  }

  // else disable interface
  options.update(opts => {
    opts.enabled = false
    opts.preview = false
    return opts;
  })
}

</script>

<style>
.button-left.hidden {
  display: none;
}

.button-left {
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: thin #444 solid;
  cursor: pointer;

  position: fixed;
  left: 0;
  top: calc(1rem + (var(--position) - 1) * 2rem);
  border-left: none;
}

.button-left-first {
  border-top-right-radius: 0.5rem;
}

.button-left-last {
  border-bottom-right-radius: 0.5rem;
}


:global(html:not(.hcms-panel-opened)) .button-left {
  left: 0;
}

:global(html.hcms-panel-opened) .button-left {
  left: var(--hcms-panel-width);
}
</style>

<div class="button-left button-left-first" on:click={(e) => toggleOpt('preview')} style="--position: 1">
  {#if $options.preview}
    <Eye/>
  {:else}
    <EyeOff/>
  {/if}
</div>

<div class="button-left" on:click={(e) => toggleUi('editorOpened', closeAll)} style="--position: 2">
  <LeadPencil/>
</div>

<div class="button-left" on:click={(e) => toggleUi('changesOpened', closeAll)} style="--position: 3">
  {#if $ui.hasChanges}
    <FileDocumentMultiple/>
  {:else}
    <FileDocumentMultipleOutline/>
  {/if}
</div>

<div class="hidden button-left" on:click={(e) => toggleUi('fileTreeOpened', closeAll)} style="--position: 4">
  <FileTree/>
</div>

<div class="hidden button-left" on:click={(e) => toggleUi('addPanelOpened', closeAll)} style="--position: 5">
  <Plus/>
</div>

<div class="button-left button-left-last" on:click={(e) => closeOrDisable()} style="--position: 4">
  <Close/>
</div>


