<script>
// vim: ft=html

import { onMount } from 'svelte';
import { matter } from '../matter.js';
import { marked } from 'marked';
import DOMPurify from 'dompurify';
import LeadPencil from "svelte-material-icons/LeadPencil.svelte";
import Close from "svelte-material-icons/Close.svelte";
import MonitorEye from "svelte-material-icons/MonitorEye.svelte";
import ArrowULeftTop from "svelte-material-icons/ArrowULeftTop.svelte";
import { digest, get_saved_source, save_source, get_manifest } from '../sources.js';
import { page_content, ui, derived, saved_sources } from '../stores.js';
import Panel from './Panel.svelte';

let buttonTemplate;
let editorPane;
let previewerPane;
let editorTextArea;
let editorText;
let saved = false;
let previewPaneOpened = false

let previewPaneHidden
$: previewPaneHidden = !$ui.editorOpened || !previewPaneOpened

let editor_upstream = null;
let editor_source_path = null;

$: handleEditorTextAreaDisabled(editor_source_path, editor_upstream)
function handleEditorTextAreaDisabled(){
  if (!editorTextArea)  return;
  editorTextArea.disabled = !editor_source_path || !editor_upstream
}

async function openEditorSource(source){
  ui.update(ui => ({
    ...ui,
    editorOpened: true,
    editorSource: source || ui.editorSource
  }))
}

function closeEditor() {
  ui.update(ui => ({...ui, editorOpened: false}))
}

async function editSource(source_path) {
  // required to avoid saving anything uncontrolled
  editor_upstream = null;
  editor_source_path = source_path;
  saved = true;
  editorText = `Loading ${source_path}...`

  const source = get_saved_source(source_path)

  if(source) {
    editorText = `Loading ${source_path}...\n${source.data}`
  }

  let resp = await fetch(`/src/${source_path}`)
  let body = await resp.text()

  const upstream_hash = await digest(body)

  const [git_commit, manifest] = await get_manifest()

  if (!source) {
    // No saved source, use upstream
    editorText = body
  } else if (source.upstream.hash == upstream_hash) {
    // no conflict, use saved source
    editorText = source.data
  } else {
    // conflict, show it
    editorText = [
      `<<<<<<< ${source.upstream.hash} saved from an earlier version`,
      source.data,
      `======= ${source.upstream.hash} ${upstream_hash}`,
      body,
      `>>>>>>> ${upstream_hash} newest upstream`
    ].join("\n")
  }

  editor_upstream = {
    git_commit,
    git_hash: manifest[source_path],
    hash: upstream_hash
  }
}

onMount(() => {
  derived(ui, $ => $.editorOpened).subscribe(editorOpened => {
    console.log('editorOpened', editorOpened)
    if (!editorOpened) previewPaneOpened = false
  })

  derived(ui, $ => $.editorSource).subscribe(editorSource => {
    console.log('editorSource', editorSource)
    if(editorSource) editSource(editorSource)
  })
})

function saveEditorText(editorText) {
  if (!editor_source_path || !editor_upstream) return;
  saved = false;

  save_source(editor_source_path, editor_upstream, editorText, () => {
    saved = true;
  })
}

$: computePreview(editorText)
$: saveEditorText(editorText)

function computePreview(editorText) {
  if (!previewerPane) return
  if (!editorText) {
    previewerPane.innerHTML = ''
    return
  }

  const { content, data } = matter(editorText)
  const html = marked.parse(content)
  const cleanedHTML = DOMPurify.sanitize(html)
  previewerPane.innerHTML = cleanedHTML
}

function togglePreviewer() {
  previewPaneOpened = ! previewPaneOpened
}

function revertChanges() {
  if(!editor_source_path) return
  if(!confirm(`Delete local changes on this ${editor_source_path}?`)) return

  saved_sources.update(sources => {
    delete sources[editor_source_path]
    return sources
  })
  editorText = ''
  editor_upstream = null;
  editor_source_path = null;
  saved = false;
}

let editor_available_sources = []

onMount(() => {

  page_content.subscribe(contents => {
    for(const content of contents) {
      const editable = content.node

      const button = buttonTemplate.content.firstElementChild.cloneNode(true)
      button.onclick = () => openEditorSource(editable.dataset.hcmsSource)

      if (editable.hcms_button) {
        editable.hcms_button.remove()
        editable.hcms_button = null
      }

      editable.append(button)
      editable.hcms_button = button

    }
  })

})

</script>

<style>

.editable-button {
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: thin #444 solid;
  cursor: pointer;
}

.editable-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  display: none;
}

:global(html.hcms [data-hcms-source]) {
  position: relative;
}

:global(html.hcms [data-hcms-source]:hover) {
  background-color: #eee;
}

:global(html.hcms [data-hcms-source]:hover) > .editable-button {
  display: flex;
}

.previewer.hidden {
  display: none;
}

.editor, .previewer {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: scroll;
  background-color: white;
  z-index: 1;
}

.editor {
  left: 0;
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.editor > nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

.editor > nav > .pure-menu {
  width: unset;
  flex-grow: 1;
}

.previewer {
  right: 0;
  width: 50vw;
}

.editor textarea {
  flex: 1 1 auto;
}

</style>

<Panel opened={$ui.editorOpened}>
<div class="editor" bind:this={editorPane}>
  <nav>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children" on:click={ (e) => e.target.closest('.pure-menu-has-children').classList.toggle('pure-menu-active') }>
          <a href="#" class="pure-menu-link">
            {#if editor_source_path}
              {editor_source_path}
            {:else}
              Sources...
            {/if}
          </a>
          <ul class="pure-menu-children">
            {#each $page_content as content}
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link"
                  on:click={() => openEditorSource(content.source_path)}
                  >{content.source_path}</a>
              </li>
            {/each}
          </ul>
        </li>
      </ul>
    </div>
    {#if saved}
      <em>saved</em>
    {/if}
    <button class="pure-button" on:click={(e) => revertChanges()}><ArrowULeftTop/></button>
    <button class="pure-button" on:click={(e) => togglePreviewer()}><MonitorEye/></button>
    <button class="pure-button" on:click={(e) => closeEditor()}><Close/></button>
  </nav>
  <textarea 
    bind:this={editorTextArea}
    bind:value={editorText}></textarea>
</div>
</Panel>

<div class="previewer"
  class:hidden={previewPaneHidden}
  bind:this={previewerPane}>
</div>

<template bind:this={buttonTemplate}>
  <div class="editable-button">
    <LeadPencil/>
  </div>
</template>

