<script>
  // vim: ft=html
  import { onMount } from 'svelte';

  export let opened = false;

  let panel;

  function onOpen(opened) {
    let any_opened = opened
    if (!opened) {
      const opened_panels = Array.from(document.querySelectorAll('.hcms-panel.hcms-panel-opened'))
      any_opened = opened_panels.filter(x => (x != panel)).length > 0
    }
    document.documentElement.classList.toggle('hcms-panel-opened', !! any_opened)
  }

  $: onOpen(opened)

  onMount(() => {
    onOpen(opened)
  })

</script>

<style>

:global(html.hcms) {
  --hcms-panel-width: 50vw;
}

:global(html.hcms.hcms-panel-opened body) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: var(--hcms-panel-width);
}

.hcms-panel {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
  z-index: 1;
  width: var(--hcms-panel-width);
}

.hcms-panel:not(.hcms-panel-opened) {
  display: none;
}

.hcms-panel.hcms-panel-opened {
}

</style>

<div class="hcms-panel" class:hcms-panel-opened={opened} bind:this={panel}>
  <slot></slot>
</div>


