<article class="related" data-hcms-source="content/{{.File.Path}}" style="clear: both">
  <header>
    <h1 data-hcms-param="title">{{.Title}}</h1>
  </header>
  {{ if eq .Type "livres" }}
  {{ if .Params.cover }}
  <img src="{{ .Params.cover }}" style="width: 20rem;" alt="" class="right" />
  {{ end }}
  <div data-hcms-content="1">{{ .Content }}</div>
  {{ else }}
  {{ .Summary }}
  <footer>
    <a href="{{ .RelPermalink }}">Lire plus...</a>
  </footer>
  {{ end }}
</article>
