<script>
  // vim: ft=html
  import Editor from './app/Editor.svelte';
  import ChangesPanel from './app/ChangesPanel.svelte';
  import Buttons from './app/Buttons.svelte';
</script>

<Buttons/>
<Editor/>
<ChangesPanel/>

