{{ define "main" }}
  <article>
    {{ .Content }}
  </article>
  {{ range .Pages }}
    <article data-hcms-source="content/{{.File.Path}}">
      <h2><a href="{{ .RelPermalink }}" data-hcms-param="title">{{ .Title }}</a></h2>
      {{ if .Truncated }}
      {{ .Summary }}
      <div>
        <a href="{{ .RelPermalink }}">Lire plus...</a>
      </div>
      {{ else }}
      <div data-hcms-content="1">{{ .Content }}</div>
      {{ end }}
    </article>
  {{ end }}
{{ end }}
